<head>
 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<bar>
    <div class="search-container">
        <form class="search-input"
        action="/posts/search"
        method="GET"
        enctype="application/x-www-form-urlencoded">
            <input type="text" name="search" placeholder="Search..." class="search-input">
            <a type="submit" class="search-btn">
                    <i class="fas fa-search"></i>      
            </a>
        </form>
    </div>
</bar>