<div class="dropdown">
  <button id="dropdownBtn" class="dropbtn">Hi, {{user.username}}</button>
  <div id="myDropdown" class="dropdown-content">
      <a class="nav-items" href="/users/profile/{{user.userId}}">Profile</a>
      <form action="/users/logout" method="post">
        <button class="nav-items" type="submit">Log Out</button>
      </form>
  </div>
</div>


