<main>
    <h2>Login Form</h2>
    <form>
        <div class="input-group">
            <label for="username">Username</label>
            <input
            class="input-text" 
            type="text" 
            name="username" 
            id="username" 
            placeholder="username">
        </div>
        
        <div class="input-group">
            <label for="password">Password</label>
            <input 
            class="input-text" 
            type="password" 
            name="password" 
            id="password" 
            placeholder="password">
        </div>

        <div>
            <input class="form-button submit-button" type="submit" value="Log in">
        </div>
    </form>
</main>
