<main>
    <h2>Username's Profile</h2> 
    <username>{{user.username}}</username>
    <email>{{user.email}}</email>
    <ul>
        <li>Video 1</li>
        <li>Video 2</li>
        <li>Video 3</li>
    </ul>
</main>