<main>
    <h2>
        <username>{{user.username}}'s Profile</username>
    </h2> 
    
    <email>Email: {{user.email}}</email>
    <div class="video-list">
        {{#each posts}}
            {{> card this}}
        {{/each}}
    </div>
</main>