:root {
  --site-bg: whitesmoke;
  --footer-header-bg: blue;
  --text-rounded-corners: .35rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
background-color: var(--site-bg);
margin: 0;
}

header {
  background-color: var(--footer-header-bg);
}

header h1 {
  color: whitesmoke;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 40%;
  }

nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li {
  padding: 4px 8px;
}

form {
display: grid;
grid-auto-flow: row;
gap: 17px;
width: 50%;
}

.input-text {
padding: 12px;
border: 1px solid #cacacaca;
border-radius: 16px;
box-shadow: 0px 0px 4px black;
}


.site-footer {
color: whitesmoke;
background-color: var(--footer-header-bg);
text-align: center;
padding: 12px;
font-size: 1.2rem;
}

.form-button {
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 1rem;
}

.reset-button {
  background-color: lightcoral;
}

.submit-button {
  background-color: cadetblue;
}

.login-button {
  background-color: cadetblue;
}

.checkbox-group {
  
}

a {
color: #00B7FF;
}

